name: release

on:
  push:
    tags: [v*]

jobs:
  release-scala:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1

      - name: run tests scala 2.13
        run: sbt ++2.13 test

      - name: run tests scala 3.7
        run: sbt ++3.7 test

      - name: publish
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.CENTRAL_TOKEN }}
          SONATYPE_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
        run: sbt +publishSigned sonatypeCentralRelease
